{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "DATASETNAME1URL": "",
    "DATASETNAME2URL": "",
    "RedisConnectionString": "",
    "BreakerRetryWaitTime": "",
    "Certificate": ""
  }
}
