{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "DATASETNAME1URL": "https://some.com/post/url/",
    "DATASETNAME2URL": "https://some.com/get/url/{orgNo}",
    "RedisConnectionString": "",
    "BreakerRetryWaitTime": "",
    "KeyVaultName": "",
    "CertificateName": "",
    "SecretName": ""
  }
}
